html,body{
    height: 100%;
    color: #34495E;
    font-family: lato;
}
header{
    background-image: url("/img/intro5.jpg");
    background-position:center center;
    background-size: cover;
    height: 100%;
    padding:50px 0;
}
header h1{
    color: white;
    font-size: 80px;
    font-family: "arvo";
    font-weight: 300;
    letter-spacing: 6px;
}
header h2{
    color: white;
    margin-bottom: 1em;
}
header div a{
    color: white;
    margin: 1em 0.5em;
    padding: 0.7em 1.5em;
    border-radius: 5px;
}
#a_twitter{
    background-color: #498FBD;
}
#a_twitter:hover{
    color: white;
    text-decoration: none;
}
#a_free{
    border: 1px solid white;
}
#a_free:hover{
    color: white;
    text-decoration: none;
}
header img{
    margin: auto;
    height: 50px;
    width: 50px;
}
nav {
    background-color: #EAEEEF;
    padding: 0.5em;
    z-index:1;
}
.circle{
    margin-top: 24em;
}
nav h2 {
    display: inline-block;
    font-size: 30px;
    margin: 0;
}
nav ul{
    display: inline-block;
    margin-top: 0.5em;
}
nav ul li {
    display: inline-block;
    margin-left: 2em;
}
nav a {
    color: #34495E;
}
nav a:hover{
    text-decoration: none;
    color: #313131;
}
a:hover{
    text-decoration: none;
    color: white;
}
section{
    line-height: 2em;
    padding: 6em 0;
}
.what_is {
    font-size: 50px;
}
.espace_row3em{
    margin-top: 3em;
}
.espace_row8em {
    margin-top: 8em;
}
.espace_row5em{
    margin-top: 5em;
}
#section1 img, #section7 img{
    transition:transform 1s;
}
#section1 img:hover, #section7 img:hover{
    transform: rotate(360deg);
}
#section2{
    background-color: #F8F8F8;
    padding: 6em 0;
}
.p_clair{
    color: #D7D7D7;
    width: 70%;
    margin: 2em 0 1em 0;
}
.p_description{
    margin: 0 0 2.5em;
}
.view_details{
    background-color: #1ABC9C;
    box-shadow: 0 3px 0 #16A085;
    border: none;
    padding: 0.7em 1em;
    border-radius: 5px;
    color: white;
}
.visit_website{
    background-color: #3394D5;
    box-shadow: 0 3px 0 #2A7BB2;
    padding: 0.7em 1em;
    border-radius: 5px;
    color: white;
}
.croix{
    cursor: url(../img/cross.png),auto;
}
#section4{
    background-color: #F8F8F8;
}
#section4 p{
    margin: 3em 0;
}
#section4 i{
    margin-right: 1em;
}
#section6 {
    background-color: #34495E;
    color: white;
}
#section6 a{
    color: white;
    padding: 0.8em 8em;
    background-color: #1ABC9C;
}
#section6 p{
    margin-bottom: 3em;
}
#section7 img{
    width: 100%;
}
#section8{
    color: white;
    background-image: url("/img/banner-bg.jpg");
}
#section8 a {
    color: white;
    background-color: #34495E;
    padding: 0.4em 1em 0.4em 0;
    border-radius: 3px;
}
#dollar{
    color: #34495E;
    text-shadow:0 0 3px white;
}
#bouton_vert{
    background-color: #1ABC9C;
    border: none;
    box-shadow:
}
.ul_font > li {
    display: inline-block;
}
.ul_font > li > a {
    color: #34495E;
}
#section10{
    background-color: #EDEFF1;
    color: #D7D7D7;
}
#section10 h3{
    margin-bottom: 1.3em;
}
#section10 .col-md-8 p{
    line-height: 1.5em;
}
#section10 .col-md-8 a{
    color: #ACACAC;
}
.fond_col{
    background-color: #34495E;
    color: white;
}
.fond_col a{
    color: white;
    text-decoration: underline;
}
#owl2 .item{
  margin: 3px;
}
#owl2 .item img, #owl1 .item img{
  display: block;
  width: 100%;
  height: auto;
}
.owl-theme .owl-controls .owl-page span{
    background: #8CDDCD;
}
