html,body{
    height: 100%;
    color: #34495E;
    font-family: lato;
}
header{
    background-image: url("/img/intro5.jpg");
    background-position:center center;
    background-size: cover;
    height: 100%;
    padding:50px 0;
}

header h1{
    color: white;
    font-size: 80px;
    font-family: "arvo";
    font-weight: 300;
    letter-spacing: 6px;
}

header h2{
    color: white;
}

header div a{
    color: white;
    margin: 1em 0.5em;
    padding: 0.7em 1.5em;
    border-radius: 5px;
}
#a_twitter{
    background-color: #498FBD;
}
#a_free{
    border: 1px solid white;
}
header img{
    margin: auto;
    height: 50px;
    width: 50px;
}
nav {
    background-color: #EAEEEF;
}
nav h2 {
    display: inline-block;
    font-size: 30px;
}
nav ul{
    display: inline-block;
    margin-top: 1.5em;
}
nav ul li {
    display: inline-block;
    margin-left: 2em;
}
nav a {
    color: #34495E;
}
section{
    line-height: 2em;
}
#section1{
    padding: 5em 0;
}
.what_is {
    font-size: 50px;
}
.espace_row3em{
    margin-top: 3em;
}
.espace_row8em {
    margin-top: 8em;
}
.espace_row5em{
    margin-top: 5em;
}
#section2{
    background-color: #F8F8F8;
    padding: 6em 0;
}
.p_clair{
    color: #D7D7D7;
    width: 70%;
    margin: 2em 0 1em 0;
}
.p_description{
    margin: 0 0 2.5em;
}
.view_details{
    background-color: #1ABC9C;
    box-shadow: 0 3px 0 #16A085;
    padding: 0.7em 1em;
    border-radius: 5px;
    color: white;
}
.visit_website{
    background-color: #3394D5;
    box-shadow: 0 3px 0 #2A7BB2;
    padding: 0.7em 1em;
    border-radius: 5px;
    color: white;
}
#section3{
    padding: 6em 0;
}
#section4{
    background-color: #F8F8F8;
    padding: 6em 0;
}
#section4 p{
    margin: 3em 0;
}
#section4 i{
    margin-right: 1em;
}
#section5{
    padding: 5em 0;
}
#section6 {
    padding: 6em 0;
    background-color: #34495E;
    color: white;
}
#section6 a{
    color: white;
    padding: 0.8em 8em;
    background-color: #1ABC9C;
}
#section6 p{
    margin-bottom: 3em;
}
#section7{
    padding: 6em 0;
}
#section7 img{
    width: 100%;
}
#section8{
    color: white;
    padding: 6em 0;
    background-image: url("/img/banner-bg.jpg");

}
#section8 a {
    color: white;
    background-color: #34495E;
    padding: 0.4em 1em 0.4em 0;
    border-radius: 3px;
}
#dollar{
    color: #34495E;
    text-shadow:0 0 3px white;
}
#section9{
    padding: 6em 0;
}
